.menust
{
    display: flex;
    justify-content: center;
    padding-top: 20%;
    
}
.buttonst
{
    color: black;
    background-color: violet;
    width: 200px;
    height: 50px;
    border-radius: 40px;
    font-size: x-large;
    margin-left: 25%;
    font-family: 'Black Ops One', cursive;

}
.title
{
    font-size: 70px;
    font-family: 'Black Ops One', cursive;
    color: violet;
}
